.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  text-align: center;

  &__image {
    width: 300px;
    margin-bottom: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); // efek bayangan
  }

  h1 {
    font-size: 5rem;
    color: #ef4444;
    margin: 0;
    line-height: 1;
  }

  h2 {
    font-size: 2rem;
    color: #1f2937;
    margin: 10px 0;
  }

  p {
    font-size: 1.1rem;
    color: #6b7280;
    margin-bottom: 2rem;
  }
  
  //  tombol kembali ke halaman utama
  &__button {
    padding: 12px 24px;
    background-color: #3b82f6; 
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #2563eb;
    }
  }
}
